/*==== GERAL ========================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: auto;
  width: 100%;
}

:root {
  font-size: 62.5%;
  --hue: 170;
  --clr-primary: hsl(var(--hue), 100%, 26%);
  --clr-primary-clear: #DCE9E2;
  --clr-primary-light: #F7F9F9;
  --clr-primary-beige: #FFFAF1;
  --clr-primary-dark: hsl(var(--hue), 100%, 14%);

  --clr-secondary-heading: #212529;
  --clr-secondary-texting: #495057;
  --clr-secondary-white: #EDEDED;
  --nav-height: 7.2rem;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;

}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  background-color: var(--clr-primary-light);

  overflow: overlay;

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(white);
}


h2 {
  color: var(--clr-secondary-heading);
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.9rem;
}

p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: var(--clr-secondary-texting);
}

button {
  cursor: pointer;
}


main {
  padding-top: calc(4rem + var(--nav-height));
}

section {
  padding-bottom: 10rem;
}
/*==== Buttons ========================*/

button {
  border-radius: 9999px;
  border: none;
  display: flex;
  background-color: transparent;

}

.primary-button {
  background-color: var(--clr-primary);
  
  padding: 1.6rem 3.2rem;
  margin: 0 auto;
  border: none;
  color: var(--clr-secondary-white);
  font-size: 1.4rem;
  font-weight: 700;
  width: fit-content;

}

/* Only got transition to work on buttons with id: Research Why! */
button.primary-button {
  transition: 150ms;

}

.primary-button:hover {
  background-color: var(--clr-primary-dark);

}

.primary-button a {
  color: var(--clr-secondary-white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.secondary-button {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.3rem;
  padding: 1.6rem 3.2rem;
  color: var(--clr-primary);
  background-color: var(--clr-secondary-white);
  width: fit-content;
  border-radius: 9999px;
  transition: 150ms;
}


.secondary-button:hover {
  background-color: var(--clr-primary);
  outline: 2px solid white;
  color: var(--clr-secondary-white);
}

/*==== NAVIGATION ========================*/


nav {
  display: flex;

  height: var(--nav-height);

  position: fixed;
  top: 0;
  width: 100vw;

  z-index: 100;

}

nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 1.6rem 2.4rem;

}

nav.scroll {
  background-color: var(--clr-primary);
}

nav.scroll .logo path {
  fill: white;
}

nav.scroll button path {
  stroke: white;
}

/*==== MENU EXPANDED ========================*/

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav) {
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateX(100%);
}

body.menu-expanded .menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--clr-primary);

  width: 100vw;
  height: 100vh;

  margin: 0 auto;
  padding-top: var(--nav-height);


  transition: transform 300ms;
  transform: translateX(0);

  display: flex;
  flex-direction: column;
  align-items: center;
}

body.menu-expanded ul {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  color: var(--clr-secondary-white);
  margin-top: calc(6rem + var(--nav-height));
  margin-bottom: 4.8rem;
}

body.menu-expanded li a {
  color: var(--clr-secondary-white);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.1rem;
}

body.menu-expanded .social-links {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 100;
}

body.menu-expanded .logo path {
  fill: var(--clr-secondary-white);
}

body.menu-expanded button svg path {
  stroke: var(--clr-secondary-white);
}



/*==== 1st SECTION ========================*/

#above-the-fold {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: var(4rem + var(--nav-height));
  padding: 0 2.4rem;
}

#above-the-fold::before {
  content: "";
  width: 100vw;
  height: calc(108rem + var(--nav-height));
  background-color: var(--clr-primary-clear);
  display: block;


  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#above-the-fold img {
  margin: 6rem auto 0;
  width: 70vw;
  max-width: 40rem;
  object-position: 0 +20px;
}

#above-the-fold .label,
#services .label,
#about-us .label {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.08rem;
  line-height: 2.1rem;
  color: var(--clr-primary);
  margin-bottom: 1.6rem;
}

h1 {
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 4.4rem;
  color: var(--clr-secondary-heading);
  margin-bottom: 2.4rem;
}

.p-hero {
  font-size: 1.8rem;
  line-height: 2.7rem;
  margin-bottom: 3.2rem;
}

.box-wrapper {
  padding: 4rem 2rem;
  background-color: var(--clr-primary-beige);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  border-radius: 0.6rem;
  border: 1px solid var(--clr-primary-clear);
  min-width: calc(80vw - 2.4rem);
  max-width: calc(100vw - 4.8rem);
}

.box {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.box h3 {
  font-size: 4.8rem;
  color: var(--clr-secondary-heading);
  font-weight: 700;
  line-height: 130%;
}

.box p {
  color: var(--clr-primary);
}

/*==== 2nd SECTION ========================*/

#services {
  padding: 10rem 2.4rem;
}

#services h2 {
  margin-bottom: 6rem;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  justify-content: center;
  align-items: flex-start;
  text-align: start;
  padding: 2.4rem;
  border: 1px solid var(--clr-primary-clear);
  background-color: white;
  border-radius: 0.6rem;
}

.card h5 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.1rem;
  color: var(--clr-secondary-heading);
}

/*==== 3rd SECTION ========================*/

#about-us {
  background-color: var(--clr-primary-beige);
  padding: 10rem 2.4rem;
}

#about-us .label {
  text-align: start;
}

#about-us h2 {
  text-align: start;
  margin-bottom: 2.4rem;
}

#about-us p {
  text-align: start;
  margin-bottom: 6rem;
}

/*==== 4th SECTION ========================*/

#contact-us {
  padding: 10rem 2.4rem;
}
#contact-us h2 {
  text-align: start;
}

.contact-info {
  display: flex;
  flex-direction: column;
  padding: 3.2rem 0;
  gap: 1.6rem;
}

.info {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

#contact-us button {
  float: left;
  margin-bottom: 6rem;
}
/*==== FOOTER ========================*/

footer {
  background-color: var(--clr-primary);
  text-align: start;
  padding: 6rem 2.4rem;
}

footer div svg {
  margin-bottom: 2.4rem;
}

footer div div > p {
  margin-bottom: 1.2rem;
  color: var(--clr-secondary-white);
}

footer .social-links {
  margin-top: 3.2rem;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

/*==== BACK TO TOP BUTTON ========================*/

#stick {
  position: fixed;
  bottom: 1rem;
  right: 2rem;

  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
  transition: 200ms;
}

#stick.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}