/*==== GERAL ========================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: auto;
  width: 100%;
}

:root {
  font-size: 62.5%;
  --hue: 170;
  --clr-primary: hsl(var(--hue), 100%, 26%);
  --clr-primary-clear: hsl(calc(var(--hue) - 22), 23%, 89%);
  --clr-primary-light: hsl(calc(var(--hue) - 10), 14%, 97%);
  --clr-primary-beige: hsl(39, 100%, 97%);
  --clr-primary-dark: hsl(var(--hue), 100%, 14%);

  --clr-secondary-heading: hsl(calc(var(--hue) + 40), 11%, 15%);
  --clr-secondary-texting: hsl(calc(var(--hue) + 40), 9%, 31%);
  --clr-secondary-white: hsl(calc(var(--hue) - 170), 0%, 100%);
  --nav-height: 7.2rem;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;

}



body {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: var(--clr-primary-light);

  overflow: overlay;
  text-align: center;
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(white);
}


h2 {
  color: var(--clr-secondary-heading);
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.9rem;
}

p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: var(--clr-secondary-texting);
}

button {
  cursor: pointer;
}

section {
  padding-block: 10rem;
}
/*==== Buttons ========================*/

button {
  border-radius: 9999px;
  border: none;
  display: flex;
  background-color: transparent;

}

.primary-button {
  background-color: var(--clr-primary);
  
  padding: 1.6rem 3rem;
  margin: 0 auto;
  border: none;
  color: var(--clr-secondary-white);
  font-size: 1.4rem;
  font-weight: 700;
  width: fit-content;

}

/* Only got transition to work on buttons with id: Research Why! */
button.primary-button {
  transition: 150ms;

}

.primary-button:hover {
  background-color: var(--clr-primary-dark);

}

.primary-button a {
  color: var(--clr-secondary-white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.secondary-button {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.3rem;
  padding: 1.6rem 3.2rem;
  color: var(--clr-primary);
  background-color: var(--clr-secondary-white);
  width: fit-content;
  border-radius: 9999px;
  transition: 150ms;
}

.secondary-button:hover {
  background-color: var(--clr-primary);
  outline: 2px solid var(--clr-secondary-white);
  color: var(--clr-secondary-white);
}


/*==== CUSTOM COLORS ========================*/


#services .card svg circle {
  fill: var(--clr-primary-clear);
}

#services .card svg path {
  stroke: var(--clr-primary);

}

#navigation .logo path[fill*="#00856F"],
#stick circle {
  fill: var(--clr-primary);
}

button.open-menu path,
#contact-us .info path {
  stroke: var(--clr-primary);
}

body.menu-expanded #navigation .logo path,
#navigation.scroll .logo path {
  fill: var(--clr-secondary-white);
}

#navigation.scroll .open-menu path {
  stroke: var(--clr-secondary-white);
}




/*==== NAVIGATION ========================*/


nav {
  display: flex;

  height: var(--nav-height);

  position: fixed;
  top: 0;
  width: 100vw;

  z-index: 100;

}

nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.6rem;

}

nav.scroll {
  background-color: var(--clr-primary);
}

.menu,
.close-menu {
  position: fixed;
}

/*==== MENU EXPANDED ========================*/

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav) {
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateX(100%);
}

body.menu-expanded .menu {
  top: 0;
  left: 0;
  background-color: var(--clr-primary);

  width: 100vw;
  height: 100vh;

  margin: 0 auto;
  padding-top: var(--nav-height);


  transition: transform 300ms;
  transform: translateX(0);

  display: flex;
  flex-direction: column;
  align-items: center;
}

body.menu-expanded ul {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  color: var(--clr-secondary-white);
  margin-top: calc(4rem + var(--nav-height));
  margin-bottom: 4.8rem;
}

body.menu-expanded li a {
  color: var(--clr-secondary-white);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.1rem;
}

body.menu-expanded .social-links {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 100;
}


/*==== 1st SECTION ========================*/

#above-the-fold {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: calc(4rem + var(--nav-height));
}

section#above-the-fold {
  padding-bottom: 0;
}

#above-the-fold::before {
  content: "";
  width: 100%;
  height: calc(112% + var(--nav-height));
  background-color: var(--clr-primary-clear);
  display: block;


  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#above-the-fold img {
  margin: 6rem auto 0;
  width: 26.4rem;
  display: block;
  object-position: 0 2rem;
}

.label {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.08rem;
  line-height: 2.1rem;
  color: var(--clr-primary);
  margin-bottom: 1.6rem;
}

h1 {
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 4.4rem;
  color: var(--clr-secondary-heading);
  margin-bottom: 2.4rem;
}

.p-hero {
  font-size: 1.8rem;
  line-height: 2.7rem;
  margin-bottom: 3.2rem;
}

.box-wrapper {
  background-color: var(--clr-primary-beige);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  border-radius: 0.6rem;
  border: 1px solid var(--clr-primary-clear);
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 3rem;
}

.box h3 {
  font-size: 4.8rem;
  color: var(--clr-secondary-heading);
  font-weight: 700;
  line-height: 130%;
}

.box p {
  color: var(--clr-primary);
}

/*==== 2nd SECTION ========================*/

#services h2 {
  margin-bottom: 6rem;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding: 2.4rem;
  border: 1px solid var(--clr-primary-clear);
  background-color: white;
  border-radius: 0.6rem;
}

.card h5 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.1rem;
  color: var(--clr-secondary-heading);
}

/*==== 3rd SECTION ========================*/

#about-us {
  background-color: var(--clr-primary-beige);
}

#about-us .label {
  text-align: left;
}

#about-us h2 {
  text-align: left;
  margin-bottom: 2.4rem;
}

#about-us .text {
  text-align: left;
  margin-bottom: 6rem;
}

/*==== 4th SECTION ========================*/

#contact-us h2 {
  text-align: left;
}

.contact-info {
  display: flex;
  flex-direction: column;
  padding: 3.2rem 0;
  gap: 1.6rem;
}

.info {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

#contact-us button {
  float: left;
  margin-bottom: 6rem;
}
/*==== FOOTER ========================*/

footer {
  background-color: var(--clr-primary);
  text-align: left;
  padding-block: 6rem;
}

footer div svg {
  margin-bottom: 2.4rem;
}

footer div div > p {
  margin-bottom: 1.2rem;
  color: var(--clr-secondary-white);
}

footer .social-links {
  margin-top: 3.2rem;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

/*==== BACK TO TOP BUTTON ========================*/

#stick {
  position: fixed;
  bottom: 1rem;
  right: 2rem;

  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
  transition: 200ms;
}

#stick.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}


/*==== RESPONSIVENESS ========================*/


@media (min-width: 1024px) {
  
  /*==== GENERAL ========================*/
  .wrapper {
    width: min(1112px, 100%);
    display: grid;
  }

  body {
    text-align: initial;
    overflow: auto;
  }

  section {
    padding-block: 16rem;
  }

  section h2 {
    font-size: 4rem;
    width: 50rem;
    margin-inline: auto;
  }

  .col-b {
    grid-area: B;
  }

  .col-a {
    grid-area: A;
  }

  /*==== NAVIGATION ========================*/
  nav#navigation .wrapper * {
    margin: 0;
    padding: 0;
    visibility: initial;
    display: initial;
    opacity: initial;
    flex-direction: initial;
    position: initial;
    font-size: initial;
    font-weight: initial;
    transform: initial;
    color: initial;
    background-color: initial;
    text-align: initial;
  }

  nav#navigation .close-menu,
  nav#navigation .open-menu,
  nav#navigation .social-links {
    display: none;
  }

  nav#navigation .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 71%;
  }

  nav#navigation .menu ul {
    display: flex;
    gap: 3.2rem;
  }

  nav#navigation .menu ul li a {
    color: var(--clr-primary);
    opacity: 0.7;
    font-weight: 400;
  }

  nav#navigation .menu .secondary-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2.4rem;
    
    border: 1px solid var(--clr-primary);
    border-radius: 4rem;

    color: var(--clr-primary);
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    
  }

  nav#navigation.scroll .menu .secondary-button:hover {
    background-color: var(--clr-secondary-white);
    outline: none;
    color: var(--clr-primary);
  }

  nav#navigation .menu .secondary-button:hover {
    background-color: var(--clr-primary);
    outline: none;
    color: var(--clr-secondary-white);
  }

  nav#navigation.scroll .menu .secondary-button,
  nav#navigation.scroll .menu ul li a {
    color: var(--clr-primary-light);
  }

  nav#navigation .menu li a {
    transition: opacity 200ms;
  }

  nav#navigation .menu li a.active, 
  nav#navigation .menu li a:hover {
    font-weight: 700;
    opacity: 1;
  }

  nav#navigation .menu li a.active::after,
  nav#navigation .menu li a:hover::after {
    padding-inline: 0.5rem;
    width: 100%;
  }

  nav#navigation .menu li a::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--clr-primary);
    display: block;
    position: relative;
    bottom: -2.4rem;
    left: -0.5rem;

    transition: width 200ms;
  }

  nav#navigation.scroll .menu li a::after {
    background-color: var(--clr-secondary-white);
  }

  nav#navigation.scroll .menu .secondary-button {
    border-color: var(--clr-primary-light);
  }

  /*==== 1st SECTION ========================*/
#above-the-fold::before {
  height: calc(92% - var(--nav-height));
}
  
  
  #above-the-fold .wrapper {
    grid-template-columns: 60.5rem 1fr;
    grid-template-areas:
    'A B'
    'C C';
  }

  #above-the-fold div.col-a {
    grid-area: A;
    text-align: left;
    align-self: center;
  }

  #above-the-fold h1 {
    font-size: 5.2rem;
    line-height: 130%;
  }

  #above-the-fold button {
    float: left;
  }


  #above-the-fold .col-b {
    grid-area: B;
  }

  #above-the-fold .box-wrapper {
    grid-area: C;
    flex-direction: row;
    align-items: center;
    padding: 6rem;
  }
  
  #above-the-fold .box-wrapper .box + .box {
    border-left: 1px solid var(--clr-primary);
  }

  #above-the-fold .box-wrapper .box {
    align-items: center;
    flex: 1;
    gap: 0;
    padding: 0;
  }

  #above-the-fold .col-b img {
    width: 40rem;
    margin: 0 auto;
  }

  /*==== 2nd SECTION ========================*/

  #services p.label,
  #services h2 {
    text-align: center;
  }

  #services .card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
  }

  /*==== 3rd SECTION ========================*/

  #about-us .wrapper {
    display: flex;
    flex-direction: row-reverse;
  }

  #about-us h2 {
    margin-inline: 0;
  }

  #about-us .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'B A';
    gap: 6.8rem;
  }

  #about-us .col-a {
    align-self: center;
  }

  #about-us p.text {
    margin-bottom: 0;
  }

  /*==== 3rd SECTION ========================*/

  #contact-us .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'A B';
    gap: 6.8rem;
  }

  #contact-us .col-a {
    align-self: center;
  }

  #contact-us button {
    margin-bottom: 0;
  }

  /*==== FOOTER ========================*/

  footer {
    padding-block: 8rem;
  }

  footer .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'A B';
  }

  footer .col-b {
    margin-top: 0;
    justify-content: end;
    align-items: center;
    align-self: center;
  }

  footer .col-b a svg {
    margin-bottom: 0;
  }

}